// _default.scss
// 
// Template's default layout styles.
// 


body {
	padding: 0 0 30px 0;
}

// Default Layout
.layout-default {
	background-color: #fdfeff;
	position: relative;
	overflow-x: hidden;
	height: 100vh;
				
	@media( min-width: $lg ){
		overflow: auto;
	}
	.ant-layout-content {
		padding-top: 10%;
	}
	.ant-layout-footer {
		padding: 24px 0px;
		color: rgba(0, 0, 0, 0.65);
		font-size: 14px;
		background: transparent;
		text-align: center;
			
		@media( min-width: $md ) {
			padding: 24px 50px;
		}
			
		.ant-menu-horizontal {
			border: none;
			line-height: 1.5;
			margin: 0 0 30px;
			background-color: transparent;
			font-size: 16px;
			justify-content: center;
		}

		.menu-nav-social {
			a svg {
				fill: $color-muted;
				vertical-align: middle;
			}
			a:hover svg {
				fill: $color-primary;
			}
		}

		.copyright {
			margin: 0;
			font-size: 16px;
			color: $color-muted;
			
			svg {
				width: 16px;
				height: 16px;
				vertical-align: -2px;
				path {
					fill: $color-danger;
				}
			}
			a {
				color: inherit;
			}
		}
	}
}
// Default Layout