// _input.scss
// 
// Template's input styles.
// 

.ant-input {
	border-radius: 6px;
}

.ant-form-item-label {
	padding: 0 !important;
}
.ant-input-password {
	border-radius: 6px;
	height: 40px;
}
#basic_password{
	height: 33px;
}

